<p>product-item works!</p>
<div class="card product" [routerLink]="['/produit',product.slug]">
    <img [src]="product.photo" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{product.name}}</h5>
      <p class="card-text">{{product.shortDescription}}</p>

      <p class="buttons" style="font-size: 30px;">
      <i class="far fa-minus-square"
      *ngIf="numProducts > 0"
        (click)="remove($event)"></i>
      {{ numProducts}}
      <i class="far fa-plus-square" (click)="add($event)"></i>
    </p>

    </div>
  </div>
