<div class="row">
    <div class="col-md-8 offset-md-2">

      <h1>Panier</h1>

      <table class="table">
        <tbody>
          <tr *ngFor="let productInfo of productInfos">
            <th scope="row">1</th>
            <td>{{productInfo.product.name}}</td>
            <td><i class="far fa-minus-square fa-2x"></i>
                &nbsp;
                <i class="far fa-plus-square fa-2x"></i></td>
            <td>{{productInfo.product.price}} €</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th></th>
            <th></th>
            <th></th>
            <th scope="col">30,00 €</th>
          </tr>
        </tfoot>
      </table>

      <button type="button" class="btn btn-primary btn-lg btn-block">
        Valider le panier
      </button>

    </div>
  </div>
