<h2>Entrées</h2>
<div class ="row">
    <div class = "col-sm-4" *ngFor ="let currentProduct of starters ">
        <app-product-item [product]="currentProduct"></app-product-item>
    </div>
</div>

<h2>Plats</h2>
<div class ="row">
    <div class = "col-sm-4" *ngFor ="let currentProduct of mainCourses ">
        <app-product-item [product]="currentProduct"></app-product-item>
    </div>
</div>

<h2>Desserts</h2>
<div class ="row">
    <div class = "col-sm-4" *ngFor ="let currentProduct of desserts ">
        <app-product-item [product]="currentProduct"></app-product-item>
    </div>
</div>